<!--===============================-->
<!--== Mentors ===================-->
<!--===============================-->
<section id="mentors" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Mentoriai</h2>
            <h4>3+ metų kartu su Symfony2, aktyviai dalyvaujantys PHP bendruomenių organizavime</h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'pavvka@gmail.com'|gravatar }}" alt="Povilas Balzaravičius">
                </div>                              
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/povilas.balzaravicius" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/pawka" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Povilas Balzaravičius</h3>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'paulius.podolskis@gmail.com'|gravatar }}" alt="Paulius Podolskis">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/podolskis" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/wsuff" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Paulius Podolskis</h3>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'zilvinas@kuusas.lt'|gravatar }}" alt="Žilvinas Kuusas">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                    <a href="https://www.facebook.com/kuusas" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/kuusas" class="contact pull-right fa fa-twitter"></a>
                </div>
                </div>
            </div>
            <h3>Žilvinas Kuusas</h3>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'dariusleskauskas@gmail.com'|gravatar }}" alt="Darius Leskauskas">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/darles" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/darles" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Darius Leskauskas</h3>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'marius.b@estina.lt'|gravatar }}" alt="Marius Blažaitis">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/marius.blazaitis" class="contact pull-left fa fa-facebook"></a>
                </div>
            </div>
            <h3>Marius Blažaitis</h3>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="http://www.gravatar.com/avatar/71ce79c369822c24753f6e2e2e3ef2de?d=http%3A%2F%2F2014.notrollsallowed.com%2Fimages%2Fdemo%2Fspeakers%2Fspeaker-01.jpg&s=150&r=G" alt="Artūras Šmorgun">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/arturas.smorgun" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/asarturas" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Artūras Šmorgun</h3>
        </div>
    </div>
</section>
<!--==========-->
