<!--===============================-->
<!--== Register ===================-->
<!--===============================-->
<section id="register" class="row">

    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Registracija</h2>
            <p>
                <br>
                <span class="label label-danger">DĖMĖSIO!</span> <strong>Vietų kiekis ribotas!</strong>
                <br>
                <br>
                Apgailestaujame, bet registracijos laikas baigėsi. Jei turite klausimų, rašykite <a href="mailto:hi@symfony.lt">hi@symfony.lt</a>.
            </p>
        </div>
    </div>
    {#
    <div class="col-sm-12">
        <form id="register-form" method="post" class="form" action="{{ path('register') }}">

            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.participant) }}
            </div>
            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.email) }}
            </div>
            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.phone) }}
            </div>
            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.age) }}
            </div>
            <div class="col-md-6 col-sm-6">
                {{ form_widget(form.description) }}
            </div>
            <div class="col-md-6 col-sm-6">
                {{ form_widget(form.motivation) }}
            </div>
            <div class="col-md-6 col-sm-6">
                {{ form_widget(form.wishes) }}
            </div>
            <div class="col-md-3 col-sm-12">
                <input type="submit" value="Registruotis" name="submit">
            </div>
            <div class="col-md-3 col-sm-12">
                <small>* Vietų skaičius ribotas</small>
            </div>
            <p class="form-notification" style="display: none;">
            Registracija sėkminga!<br>
            <small>Jūsų registracija bus peržiūrėta ir patvirtinimas atsiųstas iki sausio 12 d.</small>
            </p>
            {{ form_widget(form._token) }}
        </form>
        <p class="muted">
            <small>* Dėl riboto vietų skaičiaus pirmenybė teikiama norintiems pirmą kartą susipažinti su Symfony2 karkasu. 
            <br>Ar buvote atrinkti dalyvauti mokymuose pranešime asmeniškai iki sausio 12 d.</small>
        </p>

    </div>
    #}
</section>
<!--==========-->
