<!--===============================-->
<!--== Mentors ===================-->
<!--===============================-->
<section id="speakers" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Pranešimai</h2>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'vytautas.b@estina.lt'|gravatar }}" alt="Vytautas Beliunas">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/vytautas.beliunas" class="contact pull-left fa fa-facebook"></a>
                    </div>
                </div>
            </div>
            <h3>Vytautas Beliunas <br>ISIGN</h3>
            <h4>Symfony 4 [LT]</h4>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'giedrius.s@estina.lt'|gravatar }}" alt="Giedrius Sabaliauskas">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/gsabaliauskas" class="contact pull-left fa fa-facebook"></a>
                    </div>
                </div>
            </div>
            <h3>Giedrius Sabaliauskas <br>Estina</h3>
            <h4>Workflow component [LT]</h4>
        </div>
    </div>
    {#
    <div class="col-md-3 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'zilvinas@kuusas.lt'|gravatar }}" alt="Žilvinas Kuusas">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/kuusas" class="contact pull-left fa fa-facebook"></a>
                        <a href="https://twitter.com/kuusas" class="contact pull-right fa fa-twitter"></a>
                    </div>
                </div>
            </div>
            <h3>Žilvinas Kuusas <br>ISIGN</h3>
            <h4>Ant branduolio įvykių bangos (Kernel Events) [LT]</h4>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'marius.b@estina.lt'|gravatar }}" alt="Marius Blažaitis">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/marius.blazaitis" class="contact pull-left fa fa-facebook"></a>
                    </div>
                </div>
            </div>
            <h3>Marius Blažaitis <br>Estina</h3>
            <h4>Autentifikacija ir autorizacija [LT]</h4>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'marco.r@estina.lt'|gravatar }}" alt="Marco Rosello">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/marcoantonio.roselloestravis" class="contact pull-left fa fa-facebook"></a>
                    </div>
                </div>
            </div>
            <h3>Marco Rosello <br>Estina</h3>
            <h4>How to Avoid Symfony Upgrade Hell [EN]</h4>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'marco.r@estina.lt'|gravatar }}" alt="Darius Kasperavičius">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/kasperavicius" class="contact pull-left fa fa-facebook"></a>
                    </div>
                </div>
            </div>
            <h3>Darius Kasperavičius <br>NFQ</h3>
            <h4>Compiler Pass [LT]</h4>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'dariusleskauskas@gmail.com'|gravatar }}" alt="Darius Leskauskas">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/darles" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/darles" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Darius Leskauskas</h3>
            <h4>Jum tikrai nereikia trečių šalių Bundle'ų</h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'paulius.podolskis@gmail.com'|gravatar }}" alt="Paulius Podolskis">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/podolskis" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/wsuff" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Paulius Podolskis</h3>
            <h4>Symfony microframework</h4>
        </div>
    </div>
    #}
</section>
<!--==========-->
